.modal{
  min-width: 6.5rem;
  min-height: 4rem;
}
.roleModal{
  display: grid;
  grid-template-columns: 46% 2% 50%;
  grid-column-gap: 0.12rem;
  h2{
    display: block;
    height: 0.4rem;
    border-bottom: 2px solid #ffffff;
    width: fit-content;
    box-sizing: border-box;
    padding: 0 0.1rem;
  }
  .divider{
    height: 100%;
  }
  :global(.ant-tree-node-selected) {
     border-bottom:none;
    background: none;
  }
  :global(.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected) {
    background: none;
  }

}
