.green{
  color: #00FFFF;
  margin-left: .5rem;
  cursor: pointer;
}
.infoCard{
  section{
    div{
      display: flex;
      justify-content: space-between;
    }
  }
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.treeSelect{
  width: 20rem;

}


.form{
  display: flex;
  align-items: center;
  justify-content: center;

}
.assets{
  :global(.ant-form){
    margin: 0 0 .5rem 0;
  }
  :global(.ant-form-item){
    margin: 0;
  }
}

