.green{
  color: #00FFFF;
  margin-left: 0.05rem;
  cursor: pointer;
}
.infoCard{
  section{
    div{
      display: flex;
      justify-content: space-between;
      :not(:last-child){
        margin-bottom: 0.24rem;
      }
    }
  }
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.treeSelect{
  width: 2rem;
}


.form{
  display: flex;
  align-items: center;
  justify-content: center;

}
.assets{
  :global(.ant-form){
    margin: 0 0 0.05rem 0;
  }
  :global(.ant-form-item){
    margin: 0;
  }
  :global(.ant-descriptions-item-content){
    padding: 0.05rem !important;

  }

  .content{
    span{
      margin-right: 0.24rem;
    }

  }
}
:global(.ant-card){
  background:rgba(13,34,79,.4) ;
  padding:0.24rem 0.36rem;
}
:global(.ant-card-body){
  padding: 0;
}
