.deviceControlWrapper{
  width: 100%;
}
.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .btns{
    display: flex;
    align-items: center;
  }
  .ask{
    color: #168DF9;
    font-size: 1.4rem;
    cursor: pointer;
  }
}
.singleTool{
  list-style: none;
}
.tooltip{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 1rem;
  grid-row-gap: .2rem;
  list-style: none;

  li{
    display: flex;
    align-items: center;
  }
  img[alt='icon'],.toolRed{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    margin-right: .4rem;
  }
  .classOn,.classOff{
    border: 1px solid #00A0E9;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 6px;
    margin-right: .4rem;
  }
  .classOn{
    background: rgba(33, 187, 8, 0.45);
  }
  .classOff{
    background: rgba(56, 150, 222, 0.25);
  }
  .toolRed{
    background: #FF0000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    box-shadow: none;
  }
}
.center{
  margin-top: 1rem;
  width: 100%;
  height: 57vh;
  overflow-y: auto;
  background: rgba(56, 150, 222, 0.2);
  border: 1px solid rgba(69, 233, 252, 0.2);
  box-sizing: border-box;
  padding: 0.8rem 0.5rem;
  .groupWrapper{
    display: flex;
    justify-content: space-between;
    h6{
      margin-right: 1rem;
      width: 4rem;
      max-width: 4rem;
      font-size: 1.2rem;
      text-align: center;
    }
    align-items: center;
    img[alt='check']{
      margin-right: 1rem;
      cursor: pointer;
    }
    .rooms{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;
      flex-wrap: wrap;
      width: calc(100% - 5rem);
      max-width:calc(100% - 5rem);
      cursor: pointer;
    }
  }
  .singleRoom{
    width: 9rem;
    height: 7rem;
    background: rgba(56, 150, 222, 0.25);
    border: 1px solid rgba(69, 233, 252, 0.25);
    border-radius: 0.2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s;
    position: relative;
    box-sizing: border-box;
    padding-top: .2rem;
    padding-left: .2rem;
    text-align: center;
    &:hover {
      background: rgba(56, 150, 222, 0.55);
      animation: spring 300ms ease-out;
      span {
        color: #ffffff;
      }
    }
    .cmWrapper{
      display: flex;
      align-items: center;
      span{
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        background-color: #FF0000;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2px;
        font-size: .8rem;
      }
    }
    h4{
      margin: .2rem 0;
    }
    section{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img[alt='checked']{
      width: 16px;
      height: 16px;
      position: absolute;
      right: -4px;
      top: -4px;
    }
    &.active {
      background: rgba(33, 187, 8, 0.45);
      border: 1px solid rgba(49, 166, 30, 0.3);
    }
    &.normal {
      background: rgba(56, 150, 222, 0.25);
      border: 1px solid rgba(69, 233, 252, 0.25);
    }
    &.clicked {
      background: #0a5756;
      background: rgba(56, 150, 222, 0.55);
      border: 1px solid rgba(66, 245, 252, 0.55);
    }
  //  loading 样式
    .spinner {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(5,1fr);
      width: 60%;
      grid-column-gap: .2rem;
      margin: .3rem auto 0;
      justify-items: center;
      >div{
        width: .6rem;
        height: .6rem;
        background-color: #2FAC9B;
        border-radius: 50%;
        display: inline-block;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      }
      .bounce1 {
        animation-delay: -0.6s;
      }
      .bounce2 {
        animation-delay: -0.48s;
      }
      .bounce3 {
        animation-delay: -0.32s;
      }
      .bounce4 {
        animation-delay: -0.16s;
      }

    }

  }
  .selectAll{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 7rem;
    font-size: 1rem;
    user-select: none;
    cursor: pointer;
    img{
      margin-right: .5rem;
      cursor: pointer;
    }
  }
}
.bottom{
  margin-top: 0.5rem;
  width: 100%;
  height: 23vh;
  background: rgba(56, 150, 222, 0.2);
  border: 1px solid rgba(69, 233, 252, 0.2);
  box-sizing: border-box;
  padding: 0.5rem;
  overflow-y: auto;
  .bt{
    display: flex;
    justify-content: space-between;
    >div{
      display: flex;
      h3:nth-child(2){
        margin-left: 1rem;
      }
    }
  }
  .controlBtns{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 0;
    box-sizing: border-box;
    padding: 0 2.5rem;
    margin-top: 1rem;
    .gridButtons{
      display: grid;
      grid-column-gap: .8rem;
      grid-row-gap: .6rem;
    }
    li {
      display: flex;
      flex-direction: column;
      text-align: center;
      > span {
        font-size: 0.8rem;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: rgba(71, 148, 224, 1);
        margin-bottom: 0.6rem;
      }
      .pad {
        padding: .6rem 0.5rem;
        line-height: 0;
      }
    }
  }

}
:global(.ant-empty){
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.green{
  color: #02FF00;
}
.red{
  color: #FF0000;
}
// loading 动画

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}





