// ant-table
.ant-table-tbody>tr>td {
  border-right: 1px solid #242567 ;
}

.ant-table-placeholder {
  background: rgba(56, 150, 222, 0.6) ;
  border: none ;
  color: #66e2f5 ;
  .ant-empty-normal{
    color: #66e2f5;
  }
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td {
  color: #a4d2fd;

}
.ant-table-tbody>tr.ant-table-row-selected td {
  background: none ;
}
.ant-table-bordered .ant-table-thead>tr>th,
.ant-table-bordered .ant-table-tbody>tr>td {
  border-right: 1px solid #242567 ;
}

.ant-table-thead>tr>th {
  background: #1e65a3 ;
  color: #66e2f5 ;
  border-right: 1px solid #242567;
  border-bottom: 1px solid #45e9fc ;
}
.ant-table-thead>tr>th:last-child {
  border-right: 1px solid #1e65a3 ;
}
.ant-table table {
  border: none ;
  cursor: pointer;
}
.ant-table-tbody>tr>td {
  border-bottom: 1px solid #242567 ;
}
.ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td,
.ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td,
.ant-table-thead>tr:hover:not(.ant-table-expanded-row)>td,
.ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
  background: none ;
  color: #ffffff;
  & .all-a{
    color: #ffffff;
  }
}

// input
.ant-input {
  background: none ;
  color: #66e2f5 ;
  border: 1px solid #66e2f5 ;
  background: rgba(31, 65, 145, 0.1) ;
}
.ant-input-affix-wrapper{
  background: rgba(51,102,203,.4);
  border: none;
}

// tree
.ant-tree{
  color:  #54ACFE;
  background: none;
  font-size: 1.2rem;
}
.ant-tree-show-line .ant-tree-switcher{
  color:  #54ACFE;
  background: none;
}
.ant-tree.ant-tree-show-line li span.ant-tree-switcher {
  color:  #54ACFE;
  background: none;
  font-size: 1.4rem;
}
.ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before, .ant-tree.ant-tree-directory .ant-tree-treenode-selected::before{
  background: none;
}
.ant-tree.ant-tree-directory .ant-tree-treenode:hover::before{
  background: none;
}
.ant-tree.ant-tree-directory .ant-tree-treenode-selected .ant-tree-switcher{
  color:#54ACFE ;
}
.ant-tree-treenode {
  border-bottom: 2px solid transparent;
}
.ant-tree-node-selected {
  border-bottom: 2px solid #eabe36;
  padding-bottom: 5px;
}



.ant-tree-show-line .ant-tree-indent-unit::before{
  border-color:#54ACFE ;
}
.ant-calendar-range-picker-separator {
  color: #24c9ff;
}
.ant-form-item-label > label{
  color: #ffffff;
}
.ant-calendar-picker-icon{
  color: #66e2f5;
}

// form  hover
.ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover{
  background: rgba(51, 102, 203, 0.4);
  border-color:transparent;
}
.ant-form-item-has-error .ant-input:not([disabled]):hover, .ant-form-item-has-error .ant-input-affix-wrapper:not([disabled]):hover{
  border-color:transparent;
  box-shadow: none;
}
.ant-form-item-has-error .ant-input:focus, .ant-form-item-has-error .ant-input-affix-wrapper:focus, .ant-form-item-has-error .ant-input-focused, .ant-form-item-has-error .ant-input-affix-wrapper-focused{
  border-color:transparent;
  box-shadow: none;
}
// modal
.ant-modal-confirm .ant-modal-body{
  background: #1f4191;
}
.ant-modal .ant-modal-confirm-title{
  color: #ffffff;
}
.ant-btn:hover{
  background: #3b68d3;
}

.ant-btn-primary{
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
}
.ant-btn{
  background: #3b68d3;
  border-radius: 2px;
  border: none;
  color: #fff;
}
// 提示框样式
.ant-notification {
  .ant-notification-notice {
    padding: 13px;
    background-color: #3075CE;
    border: 1px solid #4491F6;
    border-top: 2px solid #F8B551;
    border-radius: 2px;

    .ant-notification-notice-message,
    .ant-notification-notice-description,
    .ant-notification-notice-close {
      color: #fff;
    }
  }
}
// modal
.ant-modal-header{
  background: #2d57be;
  border: none;

}
.ant-modal-content{
  border-radius: 4px;
  background: #1f4191;
}
.ant-modal-title{
  color: #ffffff;
}
.ant-modal-close-icon{
  color: #ffffff;
}
.ant-modal-footer{
  border: none;
  text-align: center;
  .ant-btn{
    width: 6rem;
  }
  .ant-btn-primary{
    background: #2594fb;
    margin-left: 2rem;
  }
}
 .ant-btn:focus{
   background: #2594fb;
   color: #ffffff;
}
// select
.ant-select-dropdown {
  background-color: #324cc0;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  background: rgba(31, 65, 145, 0.1);
  border: 1px solid #24c9ff;
}
.ant-select-arrow{
  color: #ffffff;
}


.anticon-upload{
  span {
    color: #ffffff;
  }
}
.ant-input[disabled]{
  background: initial;
  color: #66e2f5;
}
