html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

.blue {
  color: #66e2f5;
}
.white {
  color: #ffffff;
}
.shadowBtn {
  background: rgba(84, 172, 254, 0.1);
  border: 1px solid #1485c7;
  opacity: 0.95;
  border-radius: 2px;
  box-shadow: 0 0 10px #1485c7;
  color: #fff;
  &:hover,
  &:focus {
    background: none;
    color: #fff;
  }
}
.normalTable {
  margin-top: 1rem;
  width: 85vw;

  table{
    background: rgba(56, 150, 222, 0.6);
  }
  table>tbody>tr:hover{
    background: #5caef6 ;
  }

}
.tableRow{
  color: #ffffff;

}
