@import "./changeAntStyle.less";
html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "MicrosoftYaHei";
}

.blue {
  color: #66e2f5;
}
.white {
  color: #ffffff;
}
.shadowBtn {
  background: rgba(84, 172, 254, 0.1);
  border: 1px solid #1485c7;
  opacity: 0.95;
  border-radius: 2px;
  box-shadow: 0 0 10px #1485c7;
  color: #fff;
  &:hover,
  &:focus {
    background: none;
    color: #fff;
  }
}


//  公用table样式

.normalTable{
  width: 87vw;
  margin-top: 1rem;
}

// 布局
.normalWrap{
  box-sizing: border-box;
  padding:1rem 0 0 12rem;
}

// input
.searchInput{
  width: 13rem;

}

.mr1{
  margin-right: 1rem;
}
.searchWrapper{
    display: flex;
    justify-content: left;
    align-items: center;
}
// 树菜单布局
.treeWrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 1rem 2rem 0 2rem ;
}
.normalTree{
  width: 11.5vw;
  min-width: 11.5vw;
  margin-right: 1rem;
  color: #ffffff;
  height: 70vh;
  overflow: auto;
}

.mt0{
  margin-top: 0;
}
.mt1{
  margin-top: 1rem;
}
.pl0{
  padding-left: 0;
}

.formItem{
  margin-bottom: 0;
  display: flex;
  color: #ffffff;
  margin-right: 1rem;
}
.red{
  color: #FF0000;
}
