.bodyWrap{
  width: 100vw;
  min-height: 100vh;
  background: url(../assets/images/background.png) center/cover no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 1440px;
  .header{
    position: sticky;
    top: 0;
    z-index: 10;
    background: #1757a0;
    .headerTop{
      background: rgba(52, 59, 73, 0.41);
      height: 3rem;
      border-bottom: 1px solid #29d1d1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:0 2rem;
      box-sizing: border-box;
      .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
          width: 33px;
          height: 32px;
        }
        h1{
          margin-left: 0.6rem;
          font-size: 1.2rem;
          font-weight: 400;
          color: #54acfe;
          margin-bottom: 0;
        }
      }
      .userInfo{
        img[alt='full']{
          width: 25px;
          height: 25px;
          margin-right: 2rem;
        }
        img[alt='avatat']{
          width: 34px;
          height: 34px;
          margin-right: 1rem;
        }
        span{
          color: #fff;
          font-size: 0.5rem;
          margin-left: 0.5rem;
        }
      }
    }
    .menus{
      background: rgba(52, 59, 73, 0.41);
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding:0 0 0 2rem;
      .nav{
        border-bottom: 2px solid transparent;
        height: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
          margin-right: .5rem;
        }
        span{
          font-weight: 400;
          color: white;
          font-size: 0.8rem;
        }
      }
      .dropdown{
        width: 10rem;
        display: flex;
        justify-content: center;

      }
      .overlay{
        width: 10rem;
        height: 3rem;
        line-height: 3rem;
        cursor: pointer;
        top: 104px;
      }
      .bg{
        background: rgba(36, 175, 255, 1);
      }
    }
  }
}
.dropMenu{
  border-radius: 0;
  top: -4px;
  padding: 0;
  overflow: auto;
  background: #102442;
  border: 1px solid rgb(24,144,255);
  width: 10rem;
  .menuItem{
    height: 2.5rem;
    background: rgba(16, 36, 66, 1);
    border-bottom: 1px solid rgba(54, 61, 71, 1);
    display: flex;
    align-items: center;
    &:hover{
      background: rgba(36, 175, 255, 1);
    }
    .link {
      color: #fff;
      padding-left: 2.2rem;

    }
  }
}
